{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load i18n %}
{% bootstrap_javascript jquery='full' %}



{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans "User name" %}</th>
        <th>{% trans "Full name" %}</th>
        <th>{% trans "Create date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
      
        <td>
          <a class="p-2 text-dark" href="{% url 'edit_user' user.id %}">{% trans 'Change' %}</a>
          <br>
          <a class="p-2 text-dark" href="{% url 'delete_user' user.id %}">{% trans 'Delete' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
       
</div>
{% endblock %}