{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    <div>
        <a href="{% url 'create_status' %}">{% trans 'Create status' %}</a>
    </div>
    <table class="table table-striped">
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>   
                <td>
                <a class="p-2 text-dark" href="{% url 'status_edit' status.id %}">{% trans 'Change' %}</a>
                <br>
                <a class="p-2 text-dark" href="{% url 'status_delete' status.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
       
</div>
{% endblock %}