{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <a href="create_status">Создать статус</a>
    </div>
    <table class="table table-striped">
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>last changes      
                <td>
                <a class="p-2 text-dark" href="#">Изменить</a>
                <br>
                <a class="p-2 text-dark" href="#">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
       
</div>
{% endblock %}