<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Task manager" %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">{% trans "Task manager" %}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'users' %}">{% trans "Users" %}</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses' %}">{% trans "Statuses" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}">{% trans "Task" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels' %}">{% trans "Labels" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                  </li>
                  {%  else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">{% trans "Registration" %}</a>
                  </li>
                  {% endif%}
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="container wrapper flex-grow-1">
      {% bootstrap_messages %}
      <h1 class="my-4">
        {% block header %}
        {% endblock %}
      </h1>
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <div class="container">
          <a class="nav-link"href=https://github.com/potemkuh>{% trans "My" %} github</a>
      </div>
    </footer>
</body>
</html>