{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>
          <a class="p-2 text-dark" href="#">Edit</a>
          <a class="p-2 text-dark" href="#">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
       
</div>
{% endblock %}